<form method="post" action="{{ path('country_delete', {'id': country.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir effacer ce pays ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ country.id) }}">
    <button class="btn">Supprimer</button>
</form>
