{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('country-form') }}
{% endblock %}

{% block title %}Modification de l'endroit{% endblock %}

{% block body %}
    <div></div>
    {{ include('country_form/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
